@charset "UTF-8";

/*    ***Reset Geral da página***   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*    ***Estilização geral do corpo***  */
body{
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*     ***Área do cabeçalho***   */
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgb(140, 0, 255), rgb(212, 0, 255));
    padding-bottom: 10px;
}
.cabecalho-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 1.5em;
}
.cabecalho-menu a {
    text-decoration: none;
    color: black;
}

/*    ****Sessão central da página****    */
.estoque-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.estoque-tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.estoque-linha{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 160px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
}
#topo{
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    background-color: blueviolet;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    font-size: 1.5em;
}

/*   ****Área do rodapé da página****   */
.rodape{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: black;
    border-top: 1px solid black;
}
.rodape p{
    font-size: 1.4em;
}
.rodape-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 30px;
}
.rodape-links a{
    text-decoration: none;
    color: black;
}